<div class="footer">
    <div class="wrap">
        <div class="footer-section">
            <div class="footer-section-box">
                <div class="footer-logo" [routerLink]='["/"]'>Школа<span> Хоккея</span></div>
                <p>Адрес: г. Минск, Октябрьская площадь 1</p>
                <p>Время работы: пн-вс 7:00 - 22:00</p>
                <p>E-mail: <span><a href="https://www.google.ru/">school@mail.com</a></span></p>
                <p>Телефон: +999 (99) 999-99-99</p>
            </div>
            <div class="footer-section-box">
                <h3>Меню</h3>
                <ul>
                    <li [routerLink]='["/"]'>главная</li>
                    <li [routerLink]='["/center"]'>бросковый центр</li>
                    <li [routerLink]='["/schedule"]'>расписание</li>
                    <li [routerLink]='["/skates"]'>заточка коньков</li>
                    <li [routerLink]='["/coach"]'>тренеры</li>
                    <li [routerLink]='["/price"]'>цены</li>
                </ul>
            </div>
            <div class="footer-section-box">
                <h3>Соц.сети</h3>
                <div class="footer-social">
                    <div class="social"><a href="https://ru-ru.facebook.com/"><img src="assets/img/facebook.png" alt=""></a></div>
                    <div class="social"><a href="https://www.instagram.com/"><img src="assets/img/insta.png" alt=""></a></div>
                    <div class="social"><a href="https://web.telegram.org/z/"><img src="assets/img/tele.png" alt=""></a></div>
                    <div class="social"><a href="https://vk.com/"><img src="assets/img/vk.png" alt=""></a></div>
                </div>
            </div>
        </div>
        <div class="footer-text">Copyright &copy; 2023 All rights reserved</div>
    </div>
</div>
