<div class="section-price">
    <div class="wrap-price">
        <div class="price-title">
            <h2>Цены</h2>
            <p><span class="price-title-route" [routerLink]='["/"]'>Главная</span> - Цены</p>
            <h3>У нас самые низкие цены в Минске!</h3>
        </div>
        <div class="price-block">
            <div class="price-block-content">
                <div class="item">
                    <div class="item-title">Виды тренировок</div>
                    <div *ngFor='let price of price'>
                        {{price.description}}
                        <span class="price">Цена: {{price.value}} руб</span>
                    </div>
                </div> 
            </div>
        </div>
        <div class="price-block-footer">
            <p>Мы никогда ничему не учимся - будь то игра в хоккей, французский язык и или умение правильно говорить - совершенствуясь постепенно. Мы продвигаемся вперёд внезапными скачками и резкими рывками. Именно поэтому нередко мы остаёмся на одном месте на несколько недель или даже теряем часть приобретённых навыков.</p>
            <p>Психологи называют такие периоды СТАГНАЦИИ "плато на кривой обучения".</p>
            <p>Мы можем долгое время упорно работать и всё же быть не в состоянии сдвинуться с такого плато и продолжить подьём.</p>
            <p>Некоторые люди не зная об этом своеобразном явлении, падают духом на таких плато и прекращают все усилия.</p>
            <p>Это чрезвычайно прискорбно, ибо, если бы они продолжали работать, продолжали практиковаться, они бы неожиданно убедились, что взлетели вверх, подобно самолёту, и внезапно за короткое время сделали огромные успехи.</p>
        </div>
    </div>
</div>