<div class="section-skates">
    <div class="wrap-skates">
        <div class="skates-title">
            <h2>Заточка коньков на оборудовании SPARX</h2>
            <p><span [routerLink]='["/"]'>Главная</span> - Заточка коньков</p>
            <h3>Каждый хоккеист нуждается в идеальной заточке коньков</h3>
        </div>
        <div class="skates-block">
            <div class="skates-block-content">
                <div class="skates-img"></div>
                <h3>Точность - залог успеха</h3>
                <p>Нет человеческого фактора – нет случайной ошибки. Sparx - это высококачественная заточка лезвия нажатием одной кнопки. Запатентованная система перемещения диска позволяет осуществлять заточку на профессиональном уровне в любых условиях.</p>
                <p>Заточка коньков проходит в совершенно закрытой области, а остальная пыль будет собрана специальным внутренним фильтром.</p>
            </div>
        </div>
        <div class="skates-block">
            <div class="skates-block-content">
                <div class="skates-img-info"></div>
                <h3>Элитные игроки выбирают SPARX</h3>
                <p>Patrick Kane и каждый хоккеист нуждается в идеальной заточке коньков. Благодаря точилке Sparx, элитные игроки, такие как Patrick Kane, а также игроки всех уровней, могут повысить свою производительность и получить преимущество над своими соперниками</p>
                <p>Защитник Монреаль Канадиенс Jeff Petry выбрал точилку Sparx, чтобы удовлетворить все его потребности в заточке.</p>
                <p>Игроки НХЛ Garret Sparks, Tanner Pearson, Matt Grzelcyk и Steven Kampfer все используют Sparx и они считают, что игроки на всех уровнях должны иметь инновационную точилку Sparx.</p>
            </div>
        </div>
        <div class="skates-block">
            <div class="skates-block-content">
                <div class="block-content-text">
                    <h3>Ближайший сервис заточки закрыт, а вам срочно нужно привести коньки в рабочее состояние, ваш любимый мастер в отпуске или перед вами невыносимо огромная очередь?</h3>
                    <p>Меньше времени на сервисную заточку, больше – на путь к победе</p>
                    <p>Сделайте так, чтобы вам не было равных на льду с помощью Sparx</p>
                    <h3>«Канадская заточка» - используется многими командами NHL. Дает более жёсткую сцепку со льдом. Самый большой КПД – хороший накат плюс хорошее сцепление со льдом и минимальные затраты сил</h3>
                    <p>Заточка коньков осуществляется по предварительной записи</p>
                    <p>+999 (99) 999-99-99</p>
                    <h3>Стоимость заточки 10 рублей</h3>
                </div>
            </div>
        </div>
    </div>
</div>
