<div class="section-center">
    <div class="wrap-center">
        <div class="center-title">
            <h2>Бросковый центр</h2>
            <p><span [routerLink]='["/"]'>Главная</span> - Бросковый центр</p>
            <h3>Бросковая подготовка является одним из ключевых элементов хоккейного мастерства.</h3>
        </div>
        <div class="center-block">
            <div class="center-block-content">
                <div class="center-img"></div>
                <p>На Октябрьской площади открыт современный бросковый центр, тренировочная площадка из профессионального искусственного льда (Super Glide) для юных хоккеистов, с новейшим оборудованием и с использованием передовых технологий, чтобы максимизировать свои физические и психологические способности.</p>
                <p>Комплексная программа обучения обеспечит приобретение юным хоккеистом конкурентоспособных преимуществ, обеспечит успех как на льду, так и в жизни</p>
                <p>Приходите к нам и ставьте новые рекорды!</p>
            </div>
        </div>
        <div class="center-block">
            <div class="center-block-content">
                <div class="center-img-info"></div>
                <p>Принцип бросковых тренировок строится на отдельной (точечной) работе с каждым из этих элементов. Одни упражнения направлены на развитие точности броска, другие на внезапность (бросок в неожиданный для противника момент). Силу броска мы развиваем на отдельных тренировках вне льда, для этого используются некоторые тренажеры и комплекс физических упражнений. Конечно, мы требуем от ребят бросать шайбу как можно сильнееи точнее на льду, но целенаправленная тренировка по развитию силы и точностиброска вне льда, приносит более ощутимые результаты.</p>
                <p>Все упражнения составлены таким образом, что все хоккеисты постоянно находятся в работе. Это удается сделать за счет ограниченного количества человек в группе, высокого темпа тренировки и круговой (станционной) системе проведения занятий. Упражнения которые мы используем в тренировках, постоянно видоизменяются, таким образом, для ребят тренировка проходит интереснее, они работают с усердием, а значит быстрее растут в мастерстве. В процессе тренировок мы часто совмещаем бросковые упражнения с упражнениями по дриблингу, так ребятам легче представить игровую ситуацию, в которой они совершают бросок.</p>
                <h3>Бросковые тренировки для нападающих и защитников по отдельности</h3>
                <p>На таких занятиях мы делаем акценты на специфику амплуа каждого хоккеиста. Защитники учатся бросать с дальних позиций, с длинного перепаса, скатывать шайбу под бросок в одно касание, открываться по бросок из под опеки противника. Нападающие отрабатывают всевозможные варианты бросков с пятака, после выхода на ворота с краю и из-за ворот, бросок в одно касание, замыкать шайбу на штанге, открываться под бросок с ходу, бросать из под противника, бросать не заканчивая до конца обводку и т. д. Для отрабатывания точности бросков используются натяжные вратари и мишени</p>
            </div>
        </div>
    </div>
</div>