<div class="section-title">
    <h1>Школа Хоккея</h1>
    <p class="section-title-first">Школа наивысшего хоккейного мастерства</p>
    <p class="section-title-second">Каждая тренировка — это шаг вперед</p>
    <p class="section-title-second">Каждая пропущенная тренировка — это два шага назад</p>
</div>
<div class="section-aboutUs">
    <div class="wrap-aboutUs">
        <div class="section-aboutUs-title">
            <h2>О нас:</h2>
            <p>В "Школа Хоккея" работают опытные тренеры, заслуженные мастера спорта по хоккею, которые целую жизнь посвятили любимой игре. Свой бесценный многолетний опыт они с удовольствием передают ученикам: ставят технику катания и броска в соответствии с самыми высокими требованиями профессиональных команд!</p>
            <p>Мы оборудовали современный бросковый центр для подготовки чемпионов. 300кв.м. покрыто синтетическим льдом где Ваш ребенок может отрабатывать броски и обманные маневры. Спортивный зал оборудован боксерскими грушами, спортивными тренажёрами для комплексной подготовки профессиональных хоккеистов.</p>
        </div>
    </div>
</div>
<div class="section-education">
    <div class="wrap-education">
        <div class="section-education-title">
            <h2>При обучении в нашей школе от 3х месяцев мы гарантируем</h2>
        </div>
        <div class="section-education-block">
            <div class="education-block-item">
                <h3>Прирост силы и точности броска</h3>
                <p>Мы гарантируем прирост силы и точности броска на 30% за 3 месяца тренировок</p>
            </div>
            <div class="education-block-item">
                <h3>Прирост силы толчка и маневренности</h3>
                <p>Гарантируем прирост силы толчка ног и повышение маневренности хоккеиста на льду на 50%</p>
            </div>
            <div class="education-block-item">
                <h3>100% вбрасываний</h3>
                <p>Гарантируем 100% выигрышей вбрасываний для детей до 12 лет.</p>
            </div>
            <div class="education-block-item">
                <h3>Уверенность в себе</h3>
                <p>Ваш ребенок начнет верить в собственные силы. Научится быстро принимать решения</p>
            </div>
            <div class="education-block-item">
                <h3>В первой пятерке игроков</h3>
                <p>Переход в первую пятерку путем грамотного тренировочного процесса с чемпионами мира</p>
            </div>
        </div>
    </div>
</div>
<div class="section-quote">
    <p>Ты должен верить в себя, особенно в те моменты, когда в тебя никто не верит</p>
</div>
<div class="section-result">
    <div class="wrap-result">
        <div class="section-result-title">
            <h2>Почему, занимаясь у нас, вы достигнете наивысших результатов</h2>
        </div>    
        <div class="section-result-block">
            <div class="result-block-item">
                <div class="block-item-normal">Обычные тренировки</div>
                <p>до 50 бросков за час</p>
                <p>группы до 60 человек</p>
                <p>30 человек на 1 тренера</p>
                <p>площадь покрытия 100 кв.м.</p>
            </div>
            <div class="result-block-item">
                <div class="block-item-hard">Тренировки у нас</div>
                <p>до 1000 бросков за один час</p>
                <p>мини-группы до 4х человек</p>
                <p>4 человека на 1 тренера</p>
                <p>площадь покрытия 300 кв.м.</p>
            </div>
        </div>
    </div>
</div>
<div class="section-form">
    <div class="wrap-form">
        <div class="section-form-title">Запишись на первое занятие Бесплатно!</div>
        <div class="section-form-block">
            <input type="text" name="" id="" placeholder="Ваше имя">
            <input type="tel" name="" id="" placeholder="Телефон">
            <div class="form-btn" [routerLink]='["/application"]'>Отправить</div>
        </div>
        <p>Записаться по телефону: +999 (99) 999-99-99</p>
    </div>
</div>